{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_todo_edit' %}

{% block main %}
    <h1>{{ 'title.edit_todo'|trans({'%id%': todo.id}) }}</h1>

    {{ include('admin/todo/_form.html.twig', {
        form: form,
        button_label: 'action.save'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}
{% endblock %}

{% block sidebar %}

    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
